---
# wireguard is not included in debian 10, but is in debian 11. buster-backports gives us access to debian 11 packages.
- name: Add buster-backports repository into sources list for wireguard
  apt_repository:
    repo: deb http://deb.debian.org/debian buster-backports main
    state: present
    update_cache: yes

- name: install wireguard and dependencies
  apt:
    name: ["wireguard", "linux-headers-{{ ansible_kernel }}"]

# enable the wireguard kernel module so we can enable logging for it.
- name: enable wireguard kernel module
  modprobe:
    name: wireguard
    state: present  

# runs every time, this is okay.
- name: enable wireguard logging
  shell: echo 'module wireguard +p' > /sys/kernel/debug/dynamic_debug/control

# generate config from vars
- name: load config
  template:
    src: wg-client.conf.j2
    dest: /etc/wireguard/wg-client.conf
    owner: root
    group: root
    mode: "0644"
  notify: "restart wireguard"
